:root {
    --color-yellow: #fce837; 
    --color-green: #9cfd26;
    --color-red:  rgb(255, 104, 87); 
    --color-grey:#555;
    --color-light-grey:#ccc;
    --color-white: white;
    --color-light-key: #82C6FA;
    --color-bord-key: #2f485a;
    --color-back-key:#476c88;
    --color-hover-key:#3b5a71;
    --trans: all 0.7s ease-in;
}

html{
    font-size: 20px;
}

* { 
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    margin: auto;
    background-color: var(--color-bord-key);
    color: var(--color-grey); 
    font-family:  'Arial',  sans-serif;
    font-style: normal;

    user-select: none;
}

main {
    text-align: center;
}

.field {
    margin: 15px auto 10px auto;
    padding: 10px;
    width: 75vw;
    background-color: #eee;
    border: 2px var(--color-red) solid;
    outline:none;
    resize: none;
    font-family: 'Arial',  sans-serif;
}

.field:focus{
    border-style: dashed;
}

.keyboard {
    width: 80vw;
    margin: 10px auto;
    padding: 15px 0 8px 0;
    background-color: var(--color-hover-key);
    border: var(--color-bord-key) 1px solid;
    outline:var(--color-bord-key) 1px solid ;
    outline-offset: -8px;
    border-radius: .5em;
}

.numbers,
.top,
.middle,
.bottom,
.additional {
    margin-bottom: 1.5vh;
}

.button,
.special  {
    width: 4vw;
    padding: 5px 2px;
    margin-left: 2px;
    background-color: var(--color-back-key); 
    border: var(--color-bord-key) solid 1px; 
    border-radius: 4px;
    color: var(--color-white);
    font-weight: normal; 
    cursor: pointer;
    outline:none;
}

.special {
    width: auto;
    
    padding-left: 15px;
    padding-right: 15px;
    
    color: var(--color-white);
    background-color: var(--color-bord-key);
    border-color: var(--color-back-key);
}

.space {
    height:35px;
    width: 30vw;
    margin: auto 5px;
}

.button:hover,
.special:hover {
    color: var(--color-light-key);
    border-color: var(--color-light-key);
    background: var( --color-hover-key);
}

.button:active,
.special:active,
.active-key {
   color: var(--color-white);
   background: var(--color-light-key);
}

.active-caps{
    background-color: var(--color-green);
}

.footer {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white);
    font-weight: normal;
    font-size:  16px;
    line-height: 40px;
}

.footer>span{
    font-weight: bold;
}

.rs-school-icon {
    height: 30px;
    filter: opacity(50%);
    cursor: pointer;
    transition: var(--trans);
}

.rs-school-icon:hover {
    filter: opacity(100%);
    box-shadow: 0px 0px 5px 1px var(--color-light-key) ;
}

.hidden {
   visibility: hidden;
}

.red {
    color: var(--color-red);
}

.green {
    color: var(--color-green);
}

@media (max-width: 768px) {

    html {
        font-size: 16px;
    }

    .keyboard {
        width: 90vw;
    }

    .button,
    .backspace {
        width: 5vw;
    }
}

@media (max-width: 500px) {

    html {
        font-size: 14px;
    }

    .keyboard {
        width: 100%;
    }

    .button {
        width: 6.5vw;
    }

}